<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <title>Lista de Empleados - Ciclo3</title>
  <style>
    a{
      color:white;
    }
    a:hover {
      color: black;
      text-decoration:none;
    }
  </style>
</head>
<body>

<div class="container">
  <h1> Lista de Empleados</h1>
  <!--Dibujamos la tabla-->
  <br><table class="table table-bordered">
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Correo</th>
    <th>User</th>
    <th>Password</th>
    <th>Editar</th>
    <th>Eliminar</th>

  </tr>

  <!--Llenamos la tabla dibujada-->
  <!--En nuestro controller, creamos en viewEmpresa un modelo con un atributo llamado emplist donde esta guardada la lista de todas las empresas-->
  <tr th:each="empresa : ${emplist}">
    <td th:text="${employee.id}"></td>
    <td th:text="${employee.nombre}"></td>
    <td th:text="${employee.correo}"></td>
    <td th:text="${employee.user}"></td>
    <td th:text="${employee.password}"></td>

    <td><button type="button" class="btn btn-warning"><a th:href="@{/actualizarEmployee/{id}(id=${employee.id})}">Editar</a></button></td>
    <td><button type="button" class="btn btn-danger"><a th:href="@{/eliminarEmployee/{id}(id=${employee.id})}">Eliminar</a></button></td>
  </tr>
</table>

  <!-- vamos a crear un boton que sirva para agregar nuevas empresas -->
  <button type="button" class="btn btn-info"><a th:href="@{/guardarEmployee}">Agregar Nuevo Empleado</a></button>
  <br><br>

</div>

<script th:inline="javascript">
  window.onload=function(){

    var msg= [[${mensaje}]];
    if (msg == "saveOK"){
      Command : toastr["success"]("Empleado creado con éxito!")
    }
    else if (msg == "updateOK"){
      Command : toastr["success"]("Empleado actualizado con éxito!")
    }
    else if (msg == "deleteOK"){
      Command : toastr["error"]("Empleado eliminado con éxito!")
    }
    else if (msg == "deleteError"){
      Command : toastr["error"]("Empleado no ha sido eliminado!")
    }
    toastr.options={
      "positionClass": "toast-top-right",
      "showDuration":"300",
      "showMethod":"fadeIn",
      "hideMethod":"fadeOut",
    }


  }

</script>

</body>
</html>